<div class="row">

  <div class="my-3">
    <%= link_to "Add a New Purchase", "/purchases/new", class: 'btn btn-primary' %>
  </div>



  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Concert ID</th>
        <th>Concert Name</th>
        <th>User ID</th>
        <th>User Name</th>
        <th>Time Updated</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <% Purchase.all.order('concert_id').each do |purchase| %>
        <tr>
          <td>
            <%= purchase.concert_id %>
          </td>
          <td>
            <% concert = Concert.find_by(id: purchase.concert_id) %>
            <%= concert.name %>
          </td>
          <td>
            <%= purchase.user_id %>
          </td>
          <td>
            <% user = User.find_by(id: purchase.user_id) %>
            <%= user.username %>
          </td>
          <td><%= purchase.update_time %></td>
          <td>
            <%= link_to "[View]", "/purchases/#{purchase.id}" %>
            <%= link_to "[Edit]", "/purchases/#{purchase.id}/edit" %>
            <%= link_to "[Delete]", "/purchases/#{purchase.id}", method: 'delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
