<div class="row">

  <div class="col-sm-3 my-3">
    <%= link_to image_tag("add_concerts.jpg", :class => "img-fluid"), "/concerts/new" %>
  </div>

  <% @concerts.each do |concert| %>

    <div class="col-sm-3 my-3 text-center">
      <% poster_url = (concert.poster_url.present? ? concert.poster_url : 'blank_poster.jpg') %>
      <%= link_to image_tag(poster_url, :class => "img-fluid"), "/concerts/#{concert.id}" %>
      <p> <%=concert.name%> </p>
      <p>
        <% if session[:user_id].present? %>
          <%= link_to "[Delete]", "/concerts/#{concert.id}", method: "delete" %>
          <%= link_to "[Edit]", "/concerts/#{concert.id}/edit" %>
        <% end %>
      </p>
    </div>

  <% end %>

</div>
